<!DOCTYPE html>
<html>
  <head>
    <title>Dobro</title>
    <%= stylesheet_link_tag 'dobro' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <header id="h1">
      <h1><%= link_to 'Dobro', root_path %></h1>
    </header>

    <section class="body">
      <section class="selector">
        <header class="h3">
          <h3>Sections</h3>
        </header>

        <ul class="records">
          <% Dobro.resources.each do |reference, res| %>
            <li class="record">
              <%= link_to res.index_route, :class => (resource.reference == reference && 'selected') do %>
                <h4><%= reference.to_s.titleize %></h4>
              <% end %>
            </li>
          <% end %>
        </ul>
      </section>

      <section class="selector">
        <header class="h3">
          <h3><%= plural_class.titleize %></h3>
          <nav>
            <ul>
              <li><%= link_to "New #{singular_class}", resource.route_for(:new, singular_reference.to_sym), :class => 'new' %></li>
            </ul>
          </nav>
        </header>

        <ul class="records">
          <% records.each do |record| %>
            <li class="record"><h5><%= link_to record.identifier, resource.route_for(record), :class => (current_record.present? && current_record == record && 'selected')%></h5></li>
          <% end %>
        </ul>
      </section>

      <section class="view">
        <div class="action">
          <%= yield %>
        </div>
      </section>
    </section>

    <footer>
      <p>Dobro</p>
    </footer>
  </body>
</html>
